workflows/content.json
{
  "name": "content",
  "nodes": [
    {
      "parameters": {
        "content": "Crear guiones\n",
        "height": 960,
        "width": 1680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        304
      ],
      "id": "6a65e3c5-17b9-4467-b1c5-3415ea4af7d0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        640
      ],
      "id": "4ad96f8d-6903-441b-95a7-a5cac2f54d1e",
      "name": "Telegram Trigger",
      "webhookId": "bc01f7b3-6d5b-46e2-8b2e-67eb32d8f0cd",
      "credentials": {
        "telegramApi": {
          "id": "cred-telegram-001",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT state, current_script, user_prompt\n  FROM conversation_states\n  WHERE chat_id = $1::text;",
        "options": {
          "queryReplacement": "={{ $json.callback_query?.message?.chat?.id || $json.message?.chat?.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        464
      ],
      "id": "cd0c0859-d572-4ff6-a2db-75d92d659da1",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cred-postgres-001",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5b81559-16f7-4a37-a131-92b11cf8a293",
              "leftValue": "={{ $('Merge').item.json.state }}",
              "rightValue": "waiting",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        640
      ],
      "id": "5a60d13a-2737-4037-8ce7-a8bcaf14c3dc",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O551Tl_eD-dcDzhL7CTTC",
          "mode": "list",
          "cachedResultUrl": "/workflow/O551Tl_eD-dcDzhL7CTTC",
          "cachedResultName": "generate_script"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "user_message": "={{ $('Telegram Trigger').item.json.message.text }}",
            "state": "={{ $('Execute a SQL query').item.json.current_script }}",
            "file_name": "={{ $json.file_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2272,
        624
      ],
      "id": "86d7b200-ce53-45aa-bca7-2706be55c294",
      "name": "Call 'generate_script'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QBPApwMOockpaIgAmZFGH",
          "mode": "list",
          "cachedResultUrl": "/workflow/QBPApwMOockpaIgAmZFGH",
          "cachedResultName": "generate_voice"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "script": "={{ $('Telegram Trigger').item.json.message.text }}",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2320,
        352
      ],
      "id": "a15860fd-76dc-4076-b71b-c177c4dd9589",
      "name": "Call 'generate_voice'"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $('Telegram Trigger').first().json.message.text;\nconst match = aiResponse.match(/\\[(.*?)\\]/);\n\n// Si encuentra algo entre [], lo extrae. Si no, limpia la respuesta por si acaso.\nconst fileName = match ? match[1] : aiResponse.trim();\n\n// Devolvemos el nombre limpio listo para usar\nreturn {\n  file_name: fileName.replace(/[/\\\\?%*:|\"<>]/g, '') // Eliminamos caracteres prohibidos en archivos\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        608
      ],
      "id": "e71fde9f-b453-4d29-9b3b-2d10bfe574eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "78cdd92d-b6cd-4e7e-9bd4-89c4f46af34b",
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text ? \"is_msg\" : \"no\" }}",
                    "rightValue": "is_msg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cd641a74-d17b-4b71-ab0a-079dac4dd94d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0cfa669-5651-479b-adef-f5aedaf04904",
                    "leftValue": "={{ $json.callback_query?.data ? \"is_call\" : \"no\" }}",
                    "rightValue": "is_call",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1504,
        656
      ],
      "id": "a710c70e-4684-455a-b25d-c26e217725fe",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SV6genR4O_PfrUGSNDYiS",
          "mode": "list",
          "cachedResultUrl": "/workflow/SV6genR4O_PfrUGSNDYiS",
          "cachedResultName": "confirm_audio"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "callback_query": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
            "chat_id": "={{ $json.callback_query.from.id.toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "callback_query",
              "displayName": "callback_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2240,
        848
      ],
      "id": "e83d2c3e-2b7c-4de4-b8b2-e31d2a8f2882",
      "name": "Call 'confirm_audio'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5b81559-16f7-4a37-a131-92b11cf8a293",
              "leftValue": "={{ $json.callback_query.message.text }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        800
      ],
      "id": "0802a35d-52ab-4b36-a74c-460bbef7111f",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT file_name\nFROM current_file\nWHERE chat_id = $1::text;",
        "options": {
          "queryReplacement": "={{ $json.callback_query.from.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        1008
      ],
      "id": "55fdea8f-d545-4c5c-8967-7a59267a0ea6",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cred-postgres-001",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        560
      ],
      "id": "5d7e6543-f92e-499f-8efb-5241f43ee42f",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1LrhJ2YYhg79dKQuRIrUk",
          "mode": "list",
          "cachedResultUrl": "/workflow/1LrhJ2YYhg79dKQuRIrUk",
          "cachedResultName": "confirm_script"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "callback_query": "={{ $('Switch').item.json.callback_query.data }}",
            "chat_id": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
            "current_script": "={{ $('Switch').item.json.current_script }}",
            "user_message": "={{ $('Switch').item.json.user_prompt }}",
            "state": "={{ $('Switch').item.json.state }}",
            "file_name": "={{ $json.file_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "callback_query",
              "displayName": "callback_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_script",
              "displayName": "current_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2272,
        1104
      ],
      "id": "2b866612-a786-406a-a204-41908a275356",
      "name": "Call 'confirm_script'"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Estamos listos para crear tus vídeos 😎",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        416
      ],
      "id": "06c28ce0-c85b-482b-a07d-4d02bc253573",
      "name": "Send a text message",
      "webhookId": "c2160f97-7073-4b3d-b7c0-bf68ecf2a8de",
      "credentials": {
        "telegramApi": {
          "id": "cred-telegram-001",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_states",
          "mode": "list",
          "cachedResultName": "conversation_states"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.message.chat.id }}",
            "state": "waiting",
            "current_script": "={{ $json.message.text }}",
            "user_prompt": "={{ $json.user_prompt }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "current_script",
              "displayName": "current_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "user_prompt",
              "displayName": "user_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2048,
        400
      ],
      "id": "88510a8f-f424-4c53-963a-31c0298d385d",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "cred-postgres-001",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        960
      ],
      "id": "dec53996-5c3b-4cec-b9ed-83b49e2f0a65",
      "name": "Answer Query a callback",
      "webhookId": "4503554b-1039-428b-ae48-bb0512c046ea",
      "credentials": {
        "telegramApi": {
          "id": "cred-telegram-001",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Guiones",
        "formDescription": "Envía tu formulario",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Documento",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Estilo?",
              "placeholder": "Dile al bot que use este guion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -592,
        720
      ],
      "id": "fb8fdaa3-5dc0-49f8-9587-30eaceffa6b9",
      "name": "On form submission",
      "webhookId": "93f1acee-f696-4300-8d46-e83072593886"
    },
    {
      "parameters": {
        "content": "Agregar guiones\n",
        "height": 608,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        464
      ],
      "id": "527fb5c9-fcc3-4db5-99a3-0910a24cc5ee",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Documento",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        864
      ],
      "id": "1a5222ce-4b50-463f-b90e-0a079b6dbf02",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "tableId": "scripts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "style",
              "fieldValue": "={{ $('On form submission').item.json['Estilo?'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        720
      ],
      "id": "20bcdb31-0b72-4f06-b6a4-6881e632f3dd",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-001",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Documento",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        544
      ],
      "id": "cf8f0f07-bd0f-4a6b-8a8b-5ee990dcd90a",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.Documento.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d7174853-88c3-4162-863f-d093b7416148"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e0152af2-30e7-42ce-9383-aa8253d42ca8",
                    "leftValue": "={{ $binary.Documento.fileExtension }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "71221f70-5567-42cc-be1f-5c8cfce76839",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -320,
        720
      ],
      "id": "3d6d5a21-dac9-46fa-a237-69259e7ea6ed",
      "name": "Switch1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'generate_script'": {
      "main": [
        []
      ]
    },
    "Call 'generate_voice'": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Call 'generate_script'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Call 'confirm_audio'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Call 'confirm_script'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Call 'generate_voice'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ItyZo1I4kq8GBspEZkBjq"
  },
  "versionId": "214cfadf-40bd-4024-af9d-601dde752d81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20d28209856248e442ed12ef7a28e498d89a46e3767fba56bc1601f7fbced1e0"
  },
  "nodeGroups": [],
  "id": "DnrWZRqhrX84FQC1",
  "tags": []
}